@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 345px;
  background: #dd2f6e;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

.sidebar .sidebar-brand {
  height: 5rem;
  padding: 1rem 0 1rem 2rem;
  color: #f0f0f0;
}

.sidebar .sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar .sidebar-menu li {
  width: 100%;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

.sidebar .sidebar-menu a {
  display: block;
  padding-left: 1rem;
  font-size: 1.1rem;
  color: #f0f0f0;
  text-transform: capitalize;
}

.sidebar .sidebar-menu a.active {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #f0f0f0;
  color: #dd2f6e;
  border-radius: 2rem 0 0 2rem;
}

.main-content {
  margin-left: 345px;
}

.main-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.main-content header .search-wrapper {
  height: 3.2rem;
  border-radius: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.main-content header .search-wrapper input {
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}

.main-content header .search-wrapper span {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.main-content header .user-wrapper {
  display: flex;
  align-items: center;
}
